<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a class="ion-google-place button button-icon icon ion-ios-search-strong" service="places" ng-model="location" ion-google-place></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content>
      <ion-list>

      <a class="item item-avatar" menu-close href="#/app/settings">
        <img ng-src="{{(user.profilePhotoUrl || './img/beer.png')}}">
        <h2>{{user.name}}</h2>
        <p>{{(user.rank || 'Cocktail Napkin')}}</p>
      </a>
        <!-- <i class="icon ion-gear-a"></i> -->
        <!-- <h3 class="padding-top">Neil</h3> -->

        <ion-item nav-clear menu-close ui-sref="app.settings" ui-sref-active="item-balanced">
          My Profile
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.bars" ui-sref-active="item-balanced">
          Bars Nearby
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/bars/map">
          Bars Map
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.crawls" ng-hide="crawlStarted()" ui-sref-active="item-balanced">
          Start Your Crawl
        </ion-item>
        <ion-item nav-clear menu-close ng-show="crawlStarted()" ng-click="fetchCurrentCrawl()">
          Current Crawl
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.crawlHistory" ui-sref-active="item-balanced">
          Crawl History
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()" ui-sref-active="item-balanced">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
