<ion-view view-title="{{bar.name}}">
<ion-content>
<!-- Pull Refresh -->
<ion-refresher pulling-text="Pull to refresh" on-refresh="updateDash()">
</ion-refresher>
<!-- BAR PICTURE -->
<img class="col full-image" ng-src="{{bar.photoUrl}}">

<!-- CHECK-IN -->
<div class="row">
	<button class="button button-balanced button-full" ng-click="checkInToBar()">
		Check-In, Dude.
	</button>
</div>

<!-- ACTIVITY FEED -->
<div class="row-center">
  <div class="list">
  	<div ng-repeat="post in posts | reverse" class="item item-thumbnail-left">
  		<p>{{ post.content }}</p>
      <p>@{{ post.author }}</p>
      <a href="#" ng-click="upvote(post._id)">up</a>
      <a href="#" ng-click="downvote(post._id)">down</a>
      <p>points: {{ post.points }}</p>
      <!-- NOT UPDATING! FIX THIS -->
    </div>
  </div>
</div>


<!-- AGGREGATES -->
<div class="row">
  <div class="item center" ng-hide="aggregates.noiseLevel">
    <p>No reviews yet...</p>
  </div>

  <div class="list card" ng-show="aggregates.noiseLevel">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-volume-high"></i>
      noise = {{ aggregates.noiseLevel | rounded }}
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-person-stalker"></i>
      crowd = {{aggregates.crowdLevel | rounded}}
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-clock"></i>
      age = {{aggregates.avgAge | rounded}}
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-transgender"></i>
      ratio = {{aggregates.ggRatio | rounded}}
    </a>
  </div>
</div>
</ion-content>
<!-- FOOTER TOOLBAR -->
<ion-footer-bar>
<div class="tabs tabs-icon-top">
  <a class="tab-item" ng-click="openPostModal()">
    <i class="icon ion-compose"></i>
    Comment
  </a>
  <a class="tab-item" ng-click="reviewBar()">
    <i class="icon ion-speedometer"></i>
    Review
  </a>
</div>
</ion-footer-bar>

</ion-view>
