<ion-tabs class="tabs-top" id="barTabs">
<!-- STATS TAB -->
  <ion-tab title="Stats" icon-on="ion-beer" icon-off="ion-beer" class="hook-mug">
    <ion-view view-title="{{bar.name}}">
      <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="updateDash()">
        </ion-refresher>
        
        <button class="button button-balanced button-full" ng-disabled="ifNotNearBy" ng-click="checkInToBar()">
          {{ checkinButtonMsg }}
        </button>
      
  <!-- VISUALIZATIONS -->
  <div class="row" ng-show"aggregates.noiseLevel">
      <div class="col card padding-bottom data-vis">
        <div class="item item-text-wrap">
          <span class="volume-bar">1,2,3,4,5</span>
        </div>
        <div class="item item-divider">
          <h3>Noise: {{descriptions.noiseLevel}}</h3>
        </div>
      </div>
      <div class="col card padding-bottom data-vis">
        <div class="item item-text-wrap">
          <span class="crowd">{{aggregates.crowdLevel}}/4</span>
        </div>
        <div class="item item-divider ">
          <h3>Crowd: {{descriptions.crowdLevel}}</h3>
        </div>
      </div>
  </div>
  <div class="row" ng-show"aggregates.ggRatio">
      <div class="col col-50 card padding-bottom data-vis">
        <div class="item item-text-wrap">
          <span class="gender">{{aggregates.ggRatio}}/100</span>
        </div>
        <div class="item item-divider">
          <h3><span class="male">male</span>:<span class="female">female</span></h3>
        </div>
      </div>
  </div>
  <div class="row" ng-show"aggregates">
    <div class="card col report-card data-vis">
      Based on {{aggregates.reviewsCount}} glasshoppers.
    </div>
  </div>
<!-- INIT VISUALIZATIONS -->
        <div class="row">
          <button class="button" ng-click="visualize()">
            fire visualizations!
          </button>
        </div>

    </ion-content>
  </ion-view>
<!-- FOOTER BAR -->
  <!-- <ion-footer-bar ng-show="isCheckedIn()"> -->
  <ion-footer-bar ng-show="isCheckedIn()">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ng-click="openPostModal()">
        <i class="icon ion-compose"></i>
        Comment
      </a>
      <a class="tab-item" ng-click="reviewBar()">
        <i class="icon ion-speedometer"></i>
        Review
      </a>
    </div>
  </ion-footer-bar>
</ion-tab>

<!-- NEW COMMENTS -->
<ion-tab title="New" icon-on="ion-chatboxes" icon-off="ion-chatboxes" class="hook-chat">
  <ion-view view-title="{{bar.name}}">
    <ion-content>
      <ion-refresher pulling-text="Pull to refresh" on-refresh="updateDash()">
      </ion-refresher>
<!-- FEED -->
      <div ng-repeat="post in posts | reverse" class="list">
        <div class="row item">
          <div class="col col-75 padding-vertical padding-horizontal">
              <p>{{ post.content }}</p>
              <p ng-hide="post.author">@GlassHopper at {{ post.createdAt | date : 'h:mm a' }}</p>
              <p ng-show="post.author">@{{ post.author }} at {{ post.createdAt | date : 'h:mm a' }}</p>
          </div>
          <div class="col center padding-vertical">
            <!-- ng-disabled="!(isCheckedIn())" -->
            <a href="#" name="{{post._id}}-points-up" class="button button-icon icon ion-chevron-up" ng-click="upvote(post._id)"><h3>{{ post.points }}</h3></a>
            <br>
            <a href="#" class="button button-icon icon ion-chevron-down" ng-click="downvote(post._id)"></a>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
<!-- FOOTER TOOLBAR -->
  <ion-footer-bar ng-show="isCheckedIn()">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ng-click="openPostModal()">
        <i class="icon ion-compose"></i>
        Comment
      </a>
      <a class="tab-item" ng-click="reviewBar()">
        <i class="icon ion-speedometer"></i>
        Review
      </a>
    </div>
  </ion-footer-bar>
</ion-tab>
<!-- HOT POSTS -->
<ion-tab title="Hot" icon-on="ion-flame" icon-off="ion-flame" class="hook-fire">
  <ion-view view-title="{{bar.name}}">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="updateDash()">
        </ion-refresher>
        <div ng-repeat="post in posts | orderBy : 'points' : 'reverse'" class="list">
          <div class="item padding">
            <div class="col col-75 padding-vertical padding-horizontal">
              <p>{{ post.content }}</p>
              <p ng-hide="post.author">@anonymous at {{ post.createdAt | date : 'h:mm a' }}</p>
              <p ng-show="post.author">@{{ post.author }} at {{ post.createdAt | date : 'h:mm a' }}</p>
            </div>
            <div class="col center padding-vertical">
              <a href="#" class="button button-icon icon ion-chevron-up" ng-click="upvote(post._id)" ng-disabled="!(isCheckedIn())"><h3>{{ post.points }}</h3></a>
              <br>
              <a href="#" class="button button-icon icon ion-chevron-down" ng-click="downvote(post._id)" ng-disabled="!(isCheckedIn())"></a>
            </div>
          </div>
        </div>
    </ion-content>
  </ion-view>
<!-- FOOTER BAR -->
<!-- ng-show="isCheckedIn()" -->
  <ion-footer-bar ng-show="isCheckedIn()">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ng-click="openPostModal()">
        <i class="icon ion-compose"></i>
        Comment
      </a>
      <a class="tab-item" ng-click="reviewBar()">
        <i class="icon ion-speedometer"></i>
        Review
      </a>
    </div>
  </ion-footer-bar>
  </ion-tab>


</ion-tabs>