<ion-view view-title="{{user.name}}">
	<ion-content>
		<div class="list card">

	  <div class="item item-avatar">
	    <img ng-src="{{user.profilePhotoUrl}}">
	    <h2>Default Search Radius: {{newSettings.radiusDefinition}} mi.</h2>
	    <p>{{user.name}}</p>
	  </div>

	  <div class="item item-text-wrap">

			<div class="range">
			  <i class="icon ion-volume-low"></i>
			  <input type="range" min="0.1" max="10" step="0.1" value="{{newSettings.radiusDefinition}}" ng-model="newSettings.radiusDefinition">
			  <i class="icon ion-volume-high"></i>
			</div>
	  </div>
	</div>
	
		<div class="col col-80 col-offset-10"><button class="button button-full button-balanced" ng-click="updateSettings()">Save</button></div>
</ion-view>

