<!-- <ion-view view-title="New Photo">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <form ng-submit="uploadPhoto()">
      <div class="list">
        <label class="item">
          <img ng-show="imgURI" ng-src="{{imgURI}}">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="selectPhotoFromPhone()">Choose a Photo!</button>
        </label>
        <label class="item item-input">
          <span class="input-label">Caption</span>
          <input type="text" ng-model="photoData.caption">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Upload</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view> -->