<ion-modal-view ng-controller="PostController">
  <ion-content>
    <div class="row">
      <div class="bar bar-header bar-stable">
        <h1 class="title">Comment on {{bar.name}}</h1>
        <div class="buttons">
          <div class="button button-clear" ng-click="closePostModal()"><span class="icon ion-close"></span></div>
        </div>
      </div>
    </div>

    <div class="row row-center" style="padding-top:10%;">
      <div class='col' padding-vertical="true">
        <form ng-submit="onPostSubmit()" name="postForm">
          <div class="list card">
            <label class="item item-input">
              <span class="input-label">Content</span>
              <input type="text" ng-model="postData.content" required>
            </label>
            <label class="item item-input">
              <span class="input-label">Nickname</span>
              <input type="text" ng-model="postData.author">
            </label>
              <button class="button button-block button-positive" type="submit" ng-disabled="postForm.$invalid">Post</button>
          </div>
        </form>
  </ion-content>
</ion-modal-view>